<a href="https://colab.research.google.com/github/edgar-anco/TF_ANC_JUR_MON/blob/main/Codigo%20Fuente/TF_ANC_JUR_MON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # Para la lectura de archivos CSV
url = 'https://raw.githubusercontent.com/edgar-anco/TF_ANC_JUR_MON/main/Dataset/distritos-peru.csv'
df = pd.read_csv(url)
# pd.set_option('display.max_rows',None) # Para visualizar todos los registros
df

     Departamento  Provincia                    Distrito    Latitud   Longitud
0       CAJAMARCA  CONTUMAZA                    GUZMANGO  -7.364304 -78.917689
1       CAJAMARCA  SAN PABLO                    SAN LUIS  -7.159048 -78.873085
2      LAMBAYEQUE   CHICLAYO                     LAGUNAS  -7.014425 -79.671301
3      LAMBAYEQUE   CHICLAYO                     MONSEFU  -6.865730 -79.857485
4      LAMBAYEQUE   CHICLAYO                     CAYALTI  -6.888701 -79.506682
...           ...        ...                         ...        ...        ...
1870     AMAZONAS    BONGARA                YAMBRASBAMBA  -5.524329 -77.860549
1871     AMAZONAS  UTCUBAMBA                       YAMON  -6.011998 -78.523368
1872     AREQUIPA   CASTILLA                     ANDAGUA -15.485047 -72.376818
1873     AREQUIPA   CASTILLA                       CHOCO -15.414138 -72.068755
1874         LIMA       LIMA  SANTA MARIA DE HUACHIPA /1 -12.010573 -76.935552

[1875 rows x 5 columns]

In [6]:
nomprovincias = df['Provincia'].unique() # Para obtener todas las provincias disponibles
print(nomprovincias)

['CONTUMAZA' 'SAN PABLO' 'CHICLAYO' 'BARRANCA' 'HUAURA' 'OYON'
 'ANTONIO RAYMONDI' 'HUAYLAS' 'BOLOGNESI' 'SANTA' 'CONDESUYOS' 'CASTILLA'
 'CAYLLOMA' 'ISLAY' 'LA UNION' 'AREQUIPA' 'CAMANA' 'CARAVELI' 'LA MAR'
 'HUANTA' 'TAYACAJA' 'ABANCAY' 'CHINCHEROS' 'ANDAHUAYLAS' 'MORROPON'
 'PAITA' 'AYABACA' 'TALARA' 'SULLANA' 'TACNA' 'HUANUCO' 'MARAÑON'
 'CUTERVO' 'TAHUAMANU' 'SAN ROMAN' 'EL COLLAO' 'CHUCUITO' 'PUNO' 'LAMPA'
 'AZANGARO' 'MELGAR' 'HUANCANE' 'CARABAYA' 'PALLASCA' 'POMABAMBA'
 'HUAMALIES' 'TARMA' 'CHANCHAMAYO' 'ASUNCION' 'CARLOS FERMIN FITZCARRALD'
 'OCROS' 'RECUAY' 'YUNGAY' 'MARISCAL LUZURIAGA' 'CARHUAZ' 'HUARI' 'SIHUAS'
 'CAJATAMBO' 'CELENDIN' 'CHOTA' 'SAN MIGUEL' 'SANTA CRUZ' 'SAN IGNACIO'
 'JAEN' 'TUMBES' 'CONTRALMIRANTE VILLAR' 'ZARUMILLA' 'LIMA' 'DOS DE MAYO'
 'LAURICOCHA' 'AMBO' 'PACHITEA' 'YAROWILCA' 'PUERTO INCA' 'HUACAYBAMBA'
 'UCAYALI' 'CHUMBIVILCAS' 'CANAS' 'ACOMAYO' 'PAUCAR DEL SARA SARA' 'SUCRE'
 'HUARAL' 'YAUYOS' 'CALLAO' 'CUSCO' 'CHINCHA' 'CORONGO' 'CAJAMARCA'
 'HUARMEY' 'HUARAZ' 'AIJA' 'CHUPACA' 'HUANCAYO' 'JAUJA' 'YAULI' 'SATIPO'
 'JUNIN' 'CAÑETE' 'HUAROCHIRI' 'VICTOR FAJARDO' 'PARINACOCHAS' 'LUCANAS'
 'VILCAS HUAMAN' 'PARURO' 'QUISPICANCHI' 'CANCHIS' 'ESPINAR' 'HUAYTARA'
 'PALPA' 'PISCO' 'ICA' 'HUAMANGA' 'ANTA' 'CALCA' 'URUBAMBA' 'PAUCARTAMBO'
 'LA CONVENCION' 'CASTROVIRREYNA' 'ANGARAES' 'ACOBAMBA' 'CHURCAMPA'
 'CONCEPCION' 'UTCUBAMBA' 'CONDORCANQUI' 'CHACHAPOYAS'
 'RODRIGUEZ DE MENDOZA' 'LUYA' 'BONGARA' 'PASCO' 'DANIEL ALCIDES CARRION'
 'TOCACHE' 'MARISCAL CACERES' 'BELLAVISTA' 'HUALLAGA' 'PICOTA'
 'SAN MARCOS' 'AYMARAES' 'ANTABAMBA' 'GRAU' 'TRUJILLO' 'ASCOPE' 'OTUZCO'
 'VIRU' 'SANTIAGO DE CHUCO' 'BAGUA' 'REQUENA' 'MAYNAS' 'LORETO'
 'MARISCAL RAMON CASTILLA' 'DATEM DEL MARAÑON' 'MOYOBAMBA' 'EL DORADO'
 'SAN MARTIN' 'LAMAS' 'RIOJA' 'FERREÑAFE' 'LAMBAYEQUE' 'HUALGAYOC'
 'SECHURA' 'PIURA' 'JORGE BASADRE' 'MARISCAL NIETO'
 'GENERAL SANCHEZ CERRO' 'CANDARAVE' 'PACASMAYO' 'PATAZ' 'BOLIVAR'
 'SANCHEZ CARRION' 'ATALAYA' 'CORONEL PORTILLO' 'PADRE ABAD'
 'HUANCAVELICA' 'YUNGUYO' 'ALTO AMAZONAS' 'PUTUMAYO' 'TARATA' 'TAMBOPATA'
 'HUANCABAMBA' 'CANGALLO' 'OXAPAMPA' 'CANTA' 'LEONCIO PRADO' 'MOHO'
 'SAN ANTONIO DE PUTINA' 'SANDIA' 'CASMA' 'COTABAMBAS' 'HUANCA SANCOS'
 'NASCA' 'CAJABAMBA' 'GRAN CHIMU' 'JULCAN' 'CHEPEN' 'MANU' 'ILO' 'PURUS']